@use '../App.scss' as *;

.questionsAnwers {
  // @include set-size(85vh, 85vw);
  width: 84vw;
  max-height: 85vh;
  height: fit-content;
  // overflow: hidden; //set to hide any contents greater than the height of total view height
  overflow-y: hidden;
  // min-height: 100%;
  // width: 80vw;
  display: flex;
  flex-direction: column;
  gap: 10px;
  // background-color: $primary-color;
  // color:aliceblue
  // flex-wrap: wrap;
  // padding-left: 2rem;
  // margin-left: 10%;
}

.searchBar {
  order: 2;
  display: flex;
//   align-self: center;
//   @include set-size(85vh, 85vw);
//   // gap: 10px 20px;
}
.questionsAnswersTile {
  order: 1;
  display: flex;
  align-self: center;
  padding-top: 1.5rem;
  padding-bottom: .5rem;
}

.QA_body {
  display: flex;
  gap: 10px;
  margin-left: 1rem;
  order: 3;
  max-height: 100vh;
  height: fit-content;
  // overflow: hidden; //set to hide any contents greater than the height of total view height
  overflow-y: scroll;
}


.questionsButtons {
  display: flex;
  order: 4;
}

.addQuestionButton {

}

.moreQuestionsButton {

}

