@use '../../App.scss' as *;

.product-info-container {
   padding: 1rem;
   //  margin: 15px;
   .product-info-line-1 {
      display: flex;
      align-items: center;
      gap: 0.25rem;
      padding: 1rem 0 0 0;
      @include set-size(100%);
      .product-info-link {
         @include set-size(100%);
         text-align: center;
      }
   }
   .product-info-old-price {
      text-decoration: line-through;
   }
}
