@use '../../App.scss' as *;

.product-productoverview {
   @include set-size(100vh, 100vw);
   overflow: auto;
}

.product-related-items {
   @include set-size(50vh, 100vw);
   overflow: auto;
}

.product-questions-answers {
   // @include set-size(100%, 100vw);
   // overflow: hidden; //set to hide any contents greater than the height of total view height
   display: flex;
   justify-content: center;
   max-height: 100%;
   height: fit-content;
   // align-items: stretch;
   // margin-right: 5%;
   // margin-bottom: 5%;
}

.product-ratings-reviews {
   @include set-size(100vh, 100vw);
   overflow: auto; //set to hide any contents greater than the height of total view height
}
