@use '../../App.scss' as *;

.home-container {
   display: flex;
   flex-wrap: wrap;
   @include set-size(100%);
   // .home-image {
   //    @include set-size(20rem, 50vw);
   // }
   .home-product-list {
      @include flex-center();
      @include set-size(auto, 100%);
      flex-wrap: wrap;
      gap: 1rem;
   }
}
