@use '../../../App.scss' as *;

.home-main-content {
   @include set-size(45vh, 100vw);
   @include flex-center();
   gap: 1rem;
   background-color: $primary-color;
   padding: 2rem 12rem 2rem 12rem;
   color: $text-color-light;
   .home-main-content-left {
      @include flex-column();
      @include set-size(100%, 30%);
      gap: 1rem;
      .main-content-button {
         width: 50%;
      }
   }
   .home-main-content-right {
      @include set-size(100%, 70%);
   }
}
