/* !main image
.mySwiper {
  width: 100%;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
}

/* .swiper-slide {
  background-size: cover;
  background-position: center;
} */

/* !thumbnails */
.mySwiper2 {
  height: auto;
  width: 100%;
}

/* !causes opacity on main image */
/* .mySwiper .swiper-slide {
  width: 25%;
  height: 100%;
  opacity: 0.4;
} */

/* .mySwiper .swiper-slide-thumb-active {
  opacity: 1;
} */

/* !actual image inside container */
.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-slide {
  padding: 4px;
}

.swiper-slide-active {
  box-shadow: inset 0 0 0 4px #000;
}
