.popupform {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-x: scroll;
}
.smallimg {
  width:50px;height:40px;margin-right:5px;padding:5px
}
.popupform-inner {
  position: relative;
  padding: 32px;
  width: 100%;
  max-width: 640px;
  background-color: #FFF;
}

.box {
  width: 300px;
}

.box.h1 {
  font-size: 20px;
  margin: 0 0 1rem 0;
}

.w-6 {
  width: 1.5em;
}

.h-6 {
  height: 1.5em;
}

.flex {
  display: flex;
}

.cursor-pointer {
  cursor: pointer;
}

.section-box {
  font-size: smaller;
  display: flex;
  margin-bottom: 5px;;
}
.recommendRadio{
  width: 10%;
}
.characteristic-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  width: 18%;
}
textarea{
  width: 90%;
  max-width: 100%;
  padding: 5px;
}
div.summarybody-box{
  margin-top: 15px
}
textarea.reviewBody{
  height: 120px;
}
p{
  font-size: smaller;
  margin-top: 1px;
}
.nickName{
  margin-top: 3px;
}
input{
  width: 200px
}