@use '../../../App.scss' as *;

.image-view {
   display: grid;
   @include set-size(100%, 100%);
   grid-template-rows: 1fr 1fr 1fr;
   grid-template-columns: 1fr 3fr;
   padding: 1rem;
   .image-view-thumbnails,
   .image-view-item {
      grid-row: 1/4;
   }
   .image-view-thumbnails {
      grid-column: 1/2;
   }
   .image-view-item {
      grid-column: 1 / 3;
   }
   .image-view-buttons {
      grid-column: 2/3;
      grid-row: 1/2;
      padding: 0;
      margin: 0;
      position: relative;
      z-index: 4;
      justify-self: center;
      align-self: center;
      display: flex;
      justify-content: flex-end;
      gap: 10rem;
      @include set-size(auto, 25rem);
   }
   .button-prev {
      position: absolute;
      left: 1rem;
      // align-self: flex-start;
   }
   .button-next {
      position: absolute;
      right: 10rem;
   }
}
