/* targets both image and thumbnails */
.swiper-slide {
  background-size: cover;
  background-position: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* main image container */
.mySwiper2 {
  height: 100%;
  width: 100%;
}

/* main image */
.mySwiper2 .swiper-slide {
  /* width: 5vw; */
  /* height: 100%; */
  /* opacity: 0.4; */
}
/* thumbnails container */
.mySwiper {
  height: 600px;
}

/* thumbnails slide */
.mySwiper .swiper-slide {
  width: 100%;
  /* height: 100%; */
  opacity: 0.4;
}

/* thumbnail active slide */
.mySwiper .swiper-slide-thumb-active {
  border: 3px solid black;
  opacity: 1;
}
