@use '../App.scss' as *;

.product-overview {
  min-height: 100vh;
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  // grid-template-columns: 1fr 1fr;
  // grid-template-rows: 1fr;
  gap: 20px;
  .product-overview-image-view {
    @include set-size(100%, 50vw);
    padding: 3rem 4rem 0 4rem;
    // grid-row: 1/4;
    // grid-column: 1/2;
  }
  .product-overview-info-style-container {
    @include flex-column();
    justify-content: flex-start;
    padding: 0 4rem 0 4rem;

    // @include set-size(100%, 40vw);

    .product-overview-product-info {
      @include set-size(100, 100%);
      margin: 0;
      padding: 0;
    }
    .product-overview-style-selector {
      @include set-size(100, 100%);
    }
    .product-overview-add-to-cart {
      @include set-size(100, 100%);
    }
  }
}
