@use '../App.scss' as *;

.product-overview {
   min-height: 100%;
   width: 100vw;
   display: flex;
   flex-wrap: wrap;
   gap: 1.5rem;
   padding-left: 2rem;
   .product-overview-image-view {
      @include set-size(75vh, 50vw);
   }
   .product-overview-info-style-container {
      @include flex-column();
      justify-content: flex-start;
      padding: 1rem 0 0 0;
      @include set-size(100%, 40vw);

      .product-overview-product-info {
         @include set-size(100%, 100%);
         margin: 0;
         padding: 0;
      }
      .product-overview-style-selector {
         @include set-size(100%, 100%);
      }
      .product-overview-add-to-cart {
         @include set-size(100%, 100%);
      }
   }
   .product-overview-slogan-features {
      @include flex-center();
      padding-bottom: 6rem;
      .product-overview-slogan {
         @include set-size(100%, 75vw);
         padding-right: 0.5rem;
      }
      .product-overview-features {
         @include flex-column();

         border-left: 1px solid black;
         padding-left: 0.5rem;
         .product-overview-feature-item {
            display: flex;
            justify-content: flex-start;
            gap: 0.5rem;
         }
      }
   }
}
