// to use, import into any file with this import statement:
//            @use 'relative/file/path' as *

//VARIABLES/////////
//example variable
$primary-color: #364f6b;
$secondary-color: #3fc1c9;
$alternate-color-1: #fc5185;
$text-color-light: #fffbf6;
$text-color-dark: black;

//MIXINS////////////
//use mixins by including this line: @include box(desiredwidth, desiredheight);

@mixin set-size($height, $width: $height, $box-sizing: border-box) {
   height: $height;
   width: $width;
   box-sizing: $box-sizing;
}

@mixin flex-column {
   display: flex;
   flex-direction: column;
}

@mixin flex-center {
   display: flex;
   align-items: center;
   justify-content: center;
}

@mixin flex-center-column {
   @include flex-center;
   flex-direction: column;
}

@mixin flex-center-vert {
   display: flex;
   align-items: center;
}

@mixin flex-center-horiz {
   display: flex;
   justify-content: center;
}

@mixin vertical-center {
   position: relative;
   top: 50%;
   transform: translateY(-50%);
}

@mixin cover-background {
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
}

//the name of the mixin is devices, and input is mobile or tablet
@mixin for-size($size) {
   @if $size == phone {
      @media (max-width: 599px) {
         @content;
      }
   } @else if $size == tablet-portrait {
      @media (min-width: 600px) {
         @content;
      }
   } @else if $size == tablet-landscape {
      @media (min-width: 900px) {
         @content;
      }
   } @else if $size == desktop {
      @media (min-width: 1200px) {
         @content;
      }
   } @else if $size == lg-desktop {
      @media (min-width: 1800px) {
         @content;
      }
   }
}
