// to use, import into any file with this import statement:
//            @use 'relative/file/path' as *

//VARIABLES/////////

//MIXINS////////////
//use mixins including this line: @include box(desiredwidth, desiredheight);

//sets width and height
@mixin set-size($height, $width: $height) {
  height: $height;
  width: $width;
}

//sets display as flex and centers children
@mixin flex-center(
  $display: flex,
  $justifyContent: center,
  $align-items: center
) {
  display: $display;
  justify-content: $justifyContent;
  align-items: $align-items;
}
