@use '../../../App.scss' as *;

#star {
   @include set-size(1.5rem);
   animation: star 1s ease-in-out;
}

@keyframes star {
   from {
      transform: rotateZ(0deg);
   }
   to {
      transform: rotateZ(360deg);
   }
}
