@use '../../../App.scss' as *;

.thumbnail-active,
.thumbnail-default {
  position: relative;
  z-index: 5;
}

.thumbnail-default {
  @include box(150, auto);
  opacity: 50%;
}

.thumbnail-active {
  opacity: 99%;
  @include box(150, auto);
}

img {
  max-width: 100%;
  max-height: 100%;
}
