@use '../../../App.scss' as *;

.thumbnail-active,
.thumbnail-default {
   position: relative;
   z-index: 5;
   @include set-size(5rem, 5 rem);
   img {
      @include set-size(100%);
      object-fit: cover;
   }
}

.thumbnail-default {
   opacity: 65%;
   padding-top: 0.5rem;
}

.thumbnail-active {
   opacity: 100%;
   // padding-top: 1rem;
   // padding-bottom: 1rem;
   img {
      outline: thick outset #32a1ce;
   }
}

// outline: 8px ridge rgba(170, 50, 220, .6);
// border-radius: 2rem;
