@use '../../../App.scss' as *;

.image-view-thumbnail-list {
   @include set-size(auto, 5rem);
   display: 'flex';
   flex-direction: column;
   .arrow-up {
      transform: rotate(90deg);
      left: 1rem;
   }
   .arrow-down {
      transform: rotate(-90deg);
      left: 1rem;
   }
}
